.center-section > button, .btn-lg{
    width: 80%;
}

#importExcel{
    margin-left: 25%;
}

.center-section .col-sm-3{
    padding-top: 15%;
}

.center-section .col-sm-4{
    padding-top: 15%;
}

.center-section .col-sm-5{
    padding-top: 9.8%;
}

.bottom-right-section{
    margin-top: 18%;
}

.bottom-right-section .pull-left{
    margin-left: 3.8%;
}

.bottom-right-section .pull-right{
    margin-right: 6%;
}

.section-col{
    width: 25%;
    float: left;
    padding-left: 5%;
}